@media (max-width: 1170px) {
  .search {
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }
  .search input {
    display: none;
  }
  .profile_section ul li:nth-child(3) {
    /* display: block; */
    display: flex;
    /* align-items: center; */
  }
  .profile_section ul li:nth-child(1) {
    display: none;
  }
  .profile_section ul li:nth-child(2) {
    display: none;
  }

  nav ul li:last-child {
    display: flex;
  }
  .groups {
    display: none;
  }
}

@media (max-width: 992px) {
  nav {
    display: none;
  }
  .menu_toggler {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu_toggler span {
    color: white;
    font-size: 28px;
    margin-left: 15px;
  }
}
